.about-img{
  justify-self: center;
}

.about-img img {
  width: 250px;
  border-radius: .5rem;
}

.about-container {  
  row-gap: 2rem;
  text-align: center;
}

@media (min-width: 768px) { 
  
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    margin: 0;
  }

  .about-img img {
    width: 300px;
  }

}