@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7zmvaf');
  src:  url('fonts/icomoon.eot?7zmvaf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7zmvaf') format('truetype'),
    url('fonts/icomoon.woff?7zmvaf') format('woff'),
    url('fonts/icomoon.svg?7zmvaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e909";
}
.icon-document-file-pdf:before {
  content: "\e902";
}
.icon-react:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e903";
}
.icon-typescript:before {
  content: "\e904";
}
.icon-javascript:before {
  content: "\e905";
}
.icon-css3:before {
  content: "\e906";
}
.icon-html5:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-angular:before {
  content: "\e90a";
}
.icon-git:before {
  content: "\eae7";
}
